body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7de0c2, #8ec5fc);
}

.container {
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #222;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  margin: 10px;
  width: 90%;
}

.student {
  background: #6c63ff;
}

.back {
  background: #ff5e5e;
}

.btn:hover {
  opacity: 0.8;
}
